body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 20px;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;

  > section {
    background-color: #ffffff;
    padding: 10px 0px;
    margin: 10px;
    border-radius: 8px;

    > header {
      border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
      padding: 0 20px;
      > h2 {
        font-family: "Montserrat", sans-serif;
        color: rgb(70, 133, 250);
        font-weight: bold;
      }
    }

    .formBasic {
      padding: 20px;
    }

    .formEdu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 20px;
      margin: 20px;
      justify-content: space-between;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      border-radius: 8px;
      .form {
        width: 48% !important;
      }

      > button {
        color: #ffffff;
        background-color: rgb(245, 67, 35);
        font-family: "Montserrat", sans-serif;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid rgb(245, 67, 35);
        font-weight: 500;

        &:hover {
          background-color: #ffffff;
          color: rgb(245, 67, 35);
        }
      }
    }

    > button {
      color: #ffffff;
      background-color: rgb(70, 133, 250);
      font-family: "Montserrat", sans-serif;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      margin: 0 0 20px 20px;
      cursor: pointer;
      border: 1px solid rgb(70, 133, 250);
      font-weight: 500;

      &:hover {
        background-color: #ffffff;
        color: rgb(70, 133, 250);
      }
    }
  }

  > button {
    // width: 100%;
    color: #ffffff;
    background-color: rgb(70, 133, 250);
    font-family: "Montserrat", sans-serif;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid rgb(70, 133, 250);
    font-weight: 700;

    &:hover {
      background-color: rgb(60, 245, 143);
      border: 1px solid rgb(60, 245, 143);
      color: black;
    }
  }
}

.date_picker_container {
  display: flex;
  cursor: pointer;
  background-color: #ffffff;

  .date_picker {
    font-size: 0.875rem;
    padding: 10px 1rem;
    flex-grow: 1;
    min-width: 200px;
    font-family: "Montserrat", sans-serif;
    color: #201d1d;
  }

  .calendar_icon {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.disabled {
    opacity: 0.6;
  }
}
